<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario individuo</title>
</head>
<body>
    <h1 th:text="${individuo.idIndividuo == null ? 'Nuevo Individuo' : 'Editar Individuo'}"></h1>

    <form th:action="@{/guardar}" th:object="${individuo}" method="post">
        <input type="hidden" th:field="*{IdIndividuo}" />
        
        <label>Nombre</label>
        <input type="text" th:field="*{nombre}" required />
        <span style="color:blue" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        <br><br>

        <label>Apellido</label>
        <input type="text" th:field="*{apellido}" required /> 
        <span style="color:blue" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
        <br><br>
        
        <label>Edad</label>
        <input type="number" th:field="*{edad}" required /> 

        <label>Email</label>
        <input type="email" th:field="*{email}" required /> 
        <span style="color:blue" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <br><br>

        <label>Telefono</label>
        <input type="text" th:field="*{telefono}" required /> 
        <span style="color:blue" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
        <br><br>

        <br><br>
        <button type="submit">Guardar</button>
        <a th:href="@{/}">Cancelar</a>

    </form>
    
</body>
</html>