<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Individuo</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
<h1>Lista de Individuo</h1>

<form method="get" action="/">
    <input type="text" name="q" placeholder="Buscar por nombre...">
    <button type="submit">Buscar</button>
</form>
<hr>
<a th:href="@{/nuevo}">Nuevo Individuo</a>
<hr>

<p><strong>Usuario</strong> <span th:text="${usuarioActual}"></span></p>
<p><strong>Roles</strong> <span th:text="${rolesActual}"></span></p>
<p><strong>¿Es Admin?</strong> <span th:text="${esAdmin}"></span></p>


<table border="1" cellpadding="8">
    <thead>
    <tr>  
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Accion</th>
    </tr>
    </thead>
    
    <tbody>
    <tr th:each="i : ${lista}">
        <td th:text="${i.nombre}"></td>
        <td th:text="${i.apellido}"></td>
        <td th:text="${i.edad}"></td>
        <td th:text="${i.email}"></td>
        <td th:text="${i.telefono}"></td>
        <td>
            <a th:href="@{/detalle(id=${i.idIndividuo})}">Ver</a>          
            <a th:href="@{/editar(id=${i.idIndividuo})}">Editar</a>
            <a th:href="@{/eliminar(id=${i.idIndividuo})}">Eliminar</a>
        
        </tr>
    </body>
</table>
<form th:action="@{/logout}" method="post">
    <button type="submit">Cerrar Sesion</button>
</form>

</tbody>
</html>